.card{
    display: inline-block;
    margin-right: 10px;
    
    /* height: 40rem; */
}

.card-1{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;


    
    /* height: 40rem; */
}

.card-img-top{
width: 200px;
height: 200px;

}

